.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #ffffff;
    border: 2px solid #7b7b7b;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

.card-title {
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px;
}

.form-group {
    margin-top: 20px;
}

.form-label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #7b7b7b;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: inherit;
}

.btn-primary {
    width: 100%;
    background-color: #7b7b7b;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    font-family: inherit;
}

    .btn-primary:hover {
        background-color: #666;
    }