@page "/"

@attribute [Authorize]

@layout EmptyLayout

@inject NavigationManager NavigationManager

<PageTitle>DevDiary</PageTitle>

<div class="container">
    <div class="card">

        <h1 class="card-title">DevDiary</h1>

    </div>
</div>