﻿.footer {
    font-size: smaller;
    background-color: #f7f7f7;
    border-top: 1px solid #d6d5d5;
    padding-left: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%
}
