.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    border: 2px solid #7b7b7b;
    border-radius: 3px;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

    .card .card-text {
        margin-bottom: 10px;
        white-space: normal;
    }
        .card .card-text .fw-semibold {
            font-weight: 600;
        }

        .card .card-text span {
            margin-right: 10px;
        }

        .card .card-text .text-muted {
            white-space: nowrap;
            font-size: 14px;
            color: #6c757d;
        }

.card-body {
    margin: 10px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    border-top: 1px solid #7b7b7b;
    padding: 10px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e8e8e8;
    border-top: 1px solid #7b7b7b;
    padding: 10px;
}

.btn-primary {
    font-size: 14px;
    background-color: #7b7b7b;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
}

    .btn-primary:hover {
        background-color: #666;
    }

.badge {
    font-size: 12px;
    background-color: #a0aeb8;
    color: white;
    padding: 3px 8px;
    border-radius: 3px;
    text-decoration: none;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Display '...' when text overflows */
    max-width: 100%;
    margin-left: 10px;
}

    .badge:hover {
        background-color: #7e8a94;
    }

@media screen and (max-width: 600px) {
    .card .card-text .fw-semibold {
        display: block;
    }
    .card .card-text .text-muted {
        font-size: 12px;
    }
}